@font-face {
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Inter";
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
    border-radius: 2rem;
}

header {
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i {
    font-size: 2.5rem;
    color: black;
}

#nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

#nav button {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.6rem 1rem;
    border: none;
}

.active {
    background-color: black;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#container {
    padding: 3rem;
    padding-top: 4rem;
    height: 91vh;
    width: 100%;
    background-image: url(../img/home-main.jpg);
    background-size: cover;
}

#logo {
    font-weight: 600;
    font-size: 4rem;
    color: white;
}

#order {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0.8rem 1.7rem;
    border-radius: 2rem;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(68, 208, 91);
}
